* {
  box-sizing: border-box;
  color: white;
  letter-spacing: 0.4rem;
  line-height: 2.5rem;
  text-shadow: 
    -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  font-family: 'Press Start 2P', cursive;
}

body {
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    to bottom,
    #0f0a1e,
    #0f0a1e 2px,
    #140e29 2px,
    #140e29 4px
  );
}

h1 {
  margin: 0;
}

span {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  animation: blink 1s step-start infinite;
}

input {
  background-color: black;
  padding: 5px 15px 5px 15px;
  caret-color: #00FF00;
}

ul {
  list-style-type: none;
}

.chess-board {
  display: table;
  cursor: pointer;
}

.cell {
  position: relative;
  width: 60px;
  height: 60px;
  float: left;
  display: table-cell;
  border-radius: 3px;
  text-shadow: none;
  text-align: center;
  vertical-align: middle;
}

.cell.white {
  background-color: #82e1e2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(48, 155, 238, 0.6);
  z-index: 2;
}

.cell.black {
  background-color: rgb(8, 8, 8);
  z-index: 1;
}

.row {
  display: table-row;
}

.menu-option {
  cursor: pointer;
}

.menu-option:hover .text {
  animation: blink 1s step-start infinite;
}

.menu-option .arrow {
  opacity: 0;
  display: inline-block;
  transform: translateY(-3px);
}

.menu-option:hover .arrow {
  opacity: 1;
}


#body #totalheader {
  padding: 20px 40px;
}

#content {
  padding: 20px 40px;
}

@keyframes blink {
  35% { opacity: 0; }
}