* {
  box-sizing: border-box;
  color: white;
  letter-spacing: 0.4rem;
  line-height: 2.5rem;
  text-shadow: 
    -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  font-family: 'Press Start 2P', cursive;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: repeating-linear-gradient(
    to bottom,
    #0f0a1e,
    #0f0a1e 2px,
    #140e29 2px,
    #140e29 4px
  );
}

h1 {
  font-size: 150%;
  margin: 0;
}

span {
  margin: 0;
}

a {
  size: 100%;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

a:hover {
  animation: blink 1s step-start infinite;
}

p {
  size: 100%;
}

input {
  background-color: black;
  padding: 5px 15px 5px 15px;
  caret-color: #00FF00;
}

button {
  background-color: black;
  padding: 5px 15px 5px 15px;
  caret-color: #00FF00;
}

ul {
  list-style-type: none;
}

#chess_board {
  display: table;
  width: 100%;
  max-width: 400px;
}

.row {
  width: 100%;
}

.cell {
  position: relative;
  width: 12.5%;
  float: left;
  border-radius: 3px;
  text-shadow: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.cell:after {
  display: block;
  content: "";
  padding-top: 100%;
}

.cell p {
  display: none;
}

.cell img {
  image-rendering: crisp-edges;
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell.white {
  background-color: #82e1e2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(48, 155, 238, 0.6);
  z-index: 2;
}

.cell.black {
  background-color: rgb(8, 8, 8);
  z-index: 1;
}

.menu-option {
  cursor: pointer;
}

.menu-option:hover .text {
  animation: blink 1s step-start infinite;
}

.menu-option .arrow {
  opacity: 0;
  display: inline-block;
  transform: translateY(-3px);
}

.menu-option:hover .arrow {
  opacity: 1;
}

.disabled {
  opacity: 0.5;
  cursor: default;
  animation: none !important;
}

.hidden {
  display: none;
}

.valid-move {
  border: solid 5px #7d3ddb;
}

#body #totalheader {
  padding: 20px 40px;
}

#content {
  padding: 20px 40px;
}

#mobile-header {
  display: none;
  width: 100%;
  background-color: #82e1e2;
  text-align: center;
}

#mobile-header p {
  margin: 0;
  text-shadow: none;
  line-height: 1.2rem;
  color: #0f0a1e;
}

@keyframes blink {
  35% { opacity: 0; }
}

@media screen and (max-width: 800px) {
  * {
    letter-spacing: 0.25rem;
    line-height: 1.8rem;
    text-shadow: 
      -1px 0 0 #fdff2a,
      -2px 0 0 #df4a42,
      1px 0 0 #91fcfe,
      2px 0 0 #4405fc;
  }

  body {
    font-size: 12px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  #body #totalheader {
    padding: 10px 20px;
  }
  
  #content {
    padding: 10px 20px;
  }

  #mobile-header {
    display: block;
  }
}