{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="content">
    <h1>Play</h1>
    <p>Game: <b>{{ game.id }}</b></p>
    <form id="move_form" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        <p>
            Cats: <b>{{ game.cat_user.username }}</b>
        </p>
        <p>
            Mouse: <b>{{ game.mouse_user.username }}</b>
        </p>
        <p class="turn_indicator">
            {% if game.cat_turn %}
                {% if game.cat_user.id == request.user.id %}
                    Your turn!
                {% else %}
                    {{ game.cat_user.username }}'s turn
                {% endif %}
            {% else %}
                {% if game.mouse_user.id == request.user.id %}
                    Your turn!
                {% else %}
                    {{ game.mouse_user.username }}'s turn
                {% endif %}
            {% endif %}
        </p>
    </form>

    {% if board %}
        <script>
            cell_target_list = [];
            cell_origin = -1;
            target_mouse = false;
            cat_turn = {% if game.cat_turn %}true{% else %}false{% endif %};
            user_is_cat = {% if game.cat_user.id == request.user.id %}true{% else %}false{% endif %};
            board = {{ board }}
            game_finished = false;
            cats = []
            cats.push({{ game.cat1 }})
            cats.push({{ game.cat2 }})
            cats.push({{ game.cat3 }})
            cats.push({{ game.cat4 }})
            mouse = {{ game.mouse }}

            function mouse_is_trapped(cat1, cat2, cat3, cat4, mouse) {
                if (mouse+9 < 64 && mouse+9 != cat1 && mouse+9 != cat2 && mouse+9 != cat3 && mouse+9 != cat4 && (mouse+1)%8 != 0) return false;
                if (mouse+7 < 64 && mouse+7 != cat1 && mouse+7 != cat2 && mouse+7 != cat3 && mouse+7 != cat4 && mouse%8 != 0) return false;
                if (mouse-9 >= 0 && mouse-9 != cat1 && mouse-9 != cat2 && mouse-9 != cat3 && mouse-9 != cat4 && mouse%8 != 0) return false;
                if (mouse-7 >= 0 && mouse-7 != cat1 && mouse-7 != cat2 && mouse-7 != cat3 && mouse-7 != cat4 && (mouse+1)%8 != 0) return false;
                return true;
            }

            function mouse_has_scaped(cat1, cat2, cat3, cat4, mouse) {
                if (mouse < cat1 && mouse < cat2 && mouse < cat3 && mouse < cat4) return true;
                return false;
            }

            function update_board(board) {
                cats = []
                for (let i = 0; i < 64; i++) {
                    if (board[i] == -1) {
                        $("#cell_" + i + " p").text("mouse");
                        $("#mouse_" + i).removeClass("hidden");
                        $("#cat_" + i).addClass("hidden");
                        mouse = i;
                    } else if (board[i] == 1) {
                        $("#cell_" + i + " p").text("cat");
                        $("#cat_" + i).removeClass("hidden");
                        $("#mouse_" + i).addClass("hidden");
                        cats.push(i);
                    } else {
                        $("#cell_" + i + " p").text("");
                        $("#mouse_" + i).addClass("hidden");
                        $("#cat_" + i).addClass("hidden");
                    }
                }

                if (mouse_is_trapped(cats[0], cats[1], cats[2], cats[3], mouse)) {
                    game_finished = true;
                    clearInterval(interval);
                    $(".turn_indicator").text("The game has finished.");
                    $(".cell").css("cursor", "default");
                    if (user_is_cat) {
                        $(".status").text("Congratulations! You've won the game.");
                    } else {
                        $(".status").text("Sadly you've lost the game :(");
                    }
                } else if (mouse_has_scaped(cats[0], cats[1], cats[2], cats[3], mouse)) {
                    game_finished = true;
                    clearInterval(interval);
                    $(".turn_indicator").text("The game has finished.");
                    $(".cell").css("cursor", "default");
                    if (!user_is_cat) {
                        $(".status").text("Congratulations! You've won the game.");
                    } else {
                        $(".status").text("Sadly you've lost the game :(");
                    }
                }
            }

            function send_move(origin, target, is_mouse) {
                var data = new FormData();
                data.append('origin', origin);
                data.append('target', target);
                data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        board[origin] = 0
                        if (is_mouse) {
                            $("#cell_" + target + " p").text("mouse");
                            $("#mouse_" + origin).addClass("hidden");
                            $("#mouse_" + target).removeClass("hidden");
                            board[target] = -1;
                            mouse = target
                        } else {
                            $("#cell_" + target + " p").text("cat");
                            $("#cat_" + origin).addClass("hidden");
                            $("#cat_" + target).removeClass("hidden");
                            board[target] = 1;
                            cats.splice(cats.indexOf(origin), 1);
                            cats.push(target);
                        }

                        cat_turn = !cat_turn;
                        if (mouse_is_trapped(cats[0], cats[1], cats[2], cats[3], mouse)) {
                            game_finished = true;
                            clearInterval(interval);
                            $(".turn_indicator").text("The game has finished.");  
                            $(".cell").css("cursor", "default");  
                            if (user_is_cat) {
                                $(".status").text("Congratulations! You've won the game");
                            } else {
                                $(".status").text("Sadly you've lost the game :(");
                            }
                        } else if (mouse_has_scaped(cats[0], cats[1], cats[2], cats[3], mouse)) {
                            game_finished = true;
                            clearInterval(interval);
                            $(".turn_indicator").text("The game has finished.");
                            $(".cell").css("cursor", "default");
                            if (!user_is_cat) {
                                $(".status").text("Congratulations! You've won the game");
                            } else {
                                $(".status").text("Sadly you've lost the game :(");
                            }
                        }

                        if (game_finished) {
                            return;
                        }

                        if (cat_turn) {
                            {% if game.cat_user.id == request.user.id %}
                                $(".turn_indicator, .status").text("Your turn!");
                            {% else %}
                                $(".turn_indicator").text("{{ game.cat_user.username }}'s turn");
                                $(".status").text("Waiting for {{ game.cat_user.username }}...");
                            {% endif %}
                        } else {
                            {% if game.mouse_user.id == request.user.id %}
                                $(".turn_indicator, .status").text("Your turn!");
                            {% else %}
                                $(".turn_indicator").text("{{ game.mouse_user.username }}'s turn");
                                $(".status").text("Waiting for {{ game.mouse_user.username }}...");
                            {% endif %}
                        }
                    }
                };
                xhttp.open("POST", "{% url 'move' %}", true);
                xhttp.send(data);
            }

            function cell_on_click(cell_id) {
                if (game_finished) return;
                if ($("#cell_" + cell_id + " p").text().includes("cat")) {
                    if (!user_is_cat) {
                        $(".status").text("You are not the cat player.");
                        return;
                    }
                    if (!cat_turn) {
                        $(".status").text("Not your turn. Wait until the mouse player makes a move.");
                        return;
                    }
                    for (cell in cell_target_list) {
                        $("#cell_" + cell_target_list[cell]).css("background", "");
                    }
                    cell_target_list = [];
                    cell_origin = cell_id;
                    target_mouse = false;

                    if (cell_id >= 56) {
                        return;
                    } else if (cell_id%8 == 0) {
                        if (mouse != cell_id+9 && !cats.includes(cell_id+9)) {
                            $("#cell_"+(cell_id+9)).css("background", "red");
                            cell_target_list.push(cell_id+9);
                        }
                    } else if ((cell_id+1)%8 == 0) {
                        if (mouse != cell_id+7 && !cats.includes(cell_id+7)) {
                            $("#cell_"+(cell_id+7)).css("background", "red");
                            cell_target_list.push(cell_id+7);
                        }
                    } else {
                        if (mouse != cell_id+9 && !cats.includes(cell_id+9)) {
                            $("#cell_"+(cell_id+9)).css("background", "red");
                            cell_target_list.push(cell_id+9);
                        }
                        if (mouse != cell_id+7 && !cats.includes(cell_id+7)) {
                            $("#cell_"+(cell_id+7)).css("background", "red");
                            cell_target_list.push(cell_id+7);
                        }
                    }
                } else if ($("#cell_" + cell_id  + " p").text().includes("mouse")) {
                    if (user_is_cat) {
                        $(".status").text("You are not the mouse player.");
                        return;
                    }
                    if (cat_turn) {
                        $(".status").text("Not your turn. Wait until the cat player makes a move.");
                        return;
                    }                        
                    for (cell in cell_target_list) {
                        $("#cell_" + cell_target_list[cell]).css("background", "");
                    }
                    cell_target_list = [];
                    cell_origin = cell_id;
                    target_mouse = true;

                    if (cell_id < 8) {
                    } else if (cell_id%8 == 0) {
                        if (!cats.includes(cell_id-7)) {
                            $("#cell_"+(cell_id-7)).css("background", "red");
                            cell_target_list.push(cell_id-7);
                        }
                    } else if ((cell_id+1)%8 == 0) {
                        if (!cats.includes(cell_id-9)) {
                            $("#cell_"+(cell_id-9)).css("background", "red");
                            cell_target_list.push(cell_id-9);
                        }
                    } else {
                        if (!cats.includes(cell_id-7)) {
                            $("#cell_"+(cell_id-7)).css("background", "red");
                            cell_target_list.push(cell_id-7);
                        }
                        if (!cats.includes(cell_id-9)) {
                            $("#cell_"+(cell_id-9)).css("background", "red");
                            cell_target_list.push(cell_id-9);
                        }
                    }
                    if (cell_id >= 56) {
                    } else if (cell_id%8 == 0) {
                        if (!cats.includes(cell_id+9)) {
                            $("#cell_"+(cell_id+9)).css("background", "red");
                            cell_target_list.push(cell_id+9);
                        }
                    } else if ((cell_id+1)%8 == 0) {
                        if (!cats.includes(cell_id+7)) {
                            $("#cell_"+(cell_id+7)).css("background", "red");
                            cell_target_list.push(cell_id+7);
                        }
                    } else {
                        if (!cats.includes(cell_id+9)) {
                            $("#cell_"+(cell_id+9)).css("background", "red");
                            cell_target_list.push(cell_id+9);
                        }
                        if (!cats.includes(cell_id+7)) {
                            $("#cell_"+(cell_id+7)).css("background", "red");
                            cell_target_list.push(cell_id+7);
                        }
                    }

                } else {
                    if (cell_target_list.includes(cell_id)) {
                        send_move(cell_origin, cell_id, target_mouse);
                    } else if (cell_target_list.length != 0) {
                        $(".status").text("Invalid move.");
                    } else if (cat_turn != user_is_cat) {
                        $(".status").text("Not your turn.");
                    }
                    for (cell in cell_target_list) {
                        $("#cell_" + cell_target_list[cell]).css("background", "");
                    }
                    cell_target_list = []
                }
            }

            function get_and_print_board() {
                if (cat_turn == user_is_cat || game_finished) {
                    return;
                }
                var data = new FormData();
                var date = new Date();
                data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        if (this.response.length < 20) {
                            return;
                        }
                        are_equal = true;
                        new_board = []
                        aux = this.response.replace("[", "").replace("]", "").replace(" ", "").split(",");
                        for (i = 0; i < aux.length; i++) {
                            new_board[i] = parseInt(aux[i]);
                            if (new_board[i] !== board[i]) {
                                are_equal = false;
                            }
                        }
                        if (are_equal) {
                            return;
                        } else {
                            board = new_board;
                            update_board(board);
                            cat_turn = !cat_turn;
                        }

                        if (game_finished) {
                            return;
                        }

                        if (cat_turn) {
                            {% if game.cat_user.id == request.user.id %}
                                $(".turn_indicator, .status").text("Your turn!");
                            {% else %}
                                $(".turn_indicator").text("{{ game.cat_user.username }}'s turn");
                                $(".status").text("Waiting for {{ game.cat_user.username }}...");
                            {% endif %}
                        } else {
                            {% if game.mouse_user.id == request.user.id %}
                                $(".turn_indicator, .status").text("Your turn!");
                            {% else %}
                                $(".turn_indicator").text("{{ game.mouse_user.username }}'s turn");
                                $(".status").text("Waiting for {{ game.mouse_user.username }}...");
                            {% endif %}
                        }
                    }
                };
                xhttp.open("POST", "{% url 'get_update' %}", true);
                xhttp.send(data);
            }

            interval = setInterval(get_and_print_board, 500);
        </script>
        <div id="chess_board">
            {% for item in board %}
                {% if forloop.counter0|divisibleby:8 %}<div class="row">{% endif %}
                    <div class="cell {% if forloop.counter0|divisibleby:8 %}{% cycle 'black' 'white' %}{% else %}{% cycle 'white' 'black' %}{% endif %}" 
                        onclick="cell_on_click({{ forloop.counter0 }})" id="cell_{{ forloop.counter0 }}">
                        <p>{% if item ==  -1 %}mouse{% elif item == 1 %}cat{% endif %}</p>
                        <img src="{% static 'images/mouse.png' %}" alt="Picture a mouse" class="{% if not item == -1 %}hidden{% endif %}" id="mouse_{{ forloop.counter0 }}"/>
                        <img src="{% static 'images/cat.png' %}" alt="Picture a cat" class="{% if not item == 1 %}hidden{% endif %}" id="cat_{{ forloop.counter0 }}"/>
                    </div>
                {% if forloop.counter|divisibleby:8 or forloop.last %}</div>{% endif %}
            {% endfor %}
        </div>

    <p class="status">
        {% if game.cat_user.id == request.user.id and game.cat_turn or game.cat_user.id != request.user.id and not game.cat_turn %}
            Your turn!
        {% else %}
            {% if game.cat_user.id == request.user.id %}
                Waiting for {{ game.mouse_user.username }}...
            {% else %}
                Waiting for {{ game.cat_user.username }}...
            {% endif %}
        {% endif %}
    </p>
    {% endif %}

    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}