{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content">
    <h1>Play</h1>
    <p>Game: <b>{{ game.id }}</b></p>
    <form id="move_form" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        <p>
            Cats: <b>{{ game.cat_user.username }}</b>
            {% if game.cat_user.id == request.user.id %}
                <blockquote class="cat">
                    {% if game.cat_turn %}
                        {{ move_form }}
                        <input type="submit" value="Move" />
                    {% else %}
                        Waiting for the mouse...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
        <p>
            Mouse: <b>{{ game.mouse_user.username }}</b>
            {% if game.mouse_user.id == request.user.id %}
                <blockquote class="mouse">
                    {% if not game.cat_turn %}
                        {{ move_form }}
                        <input type="submit" value="Move" />
                    {% else %}
                        Waiting for the cat...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
    </form>

    {% if board %}
        <!--<p>Board: {{ board }}</p>-->
        <div id="chess_board">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<div class="row">{% endif %}
            <div class="cell {% if forloop.counter0|divisibleby:8 %}{% cycle 'black' 'white' %}{% else %}{% cycle 'white' 'black' %}{% endif %}" 
                onclick='
                {% if item ==  0 %}   
                {% elif item == 1 %}  
                {% if forloop.counter0|divisibleby:8 %}
                $("#cell_{{ forloop.counter0|add:9 }}").css("background", "red");
                {% elif forloop.counter0|add:1|divisibleby:8 %}
                $("#cell_{{ forloop.counter0|add:7 }}").css("background", "red");
                {% else %}
                $("#cell_{{ forloop.counter0|add:7 }}, #cell_{{ forloop.counter0|add:9 }}").css("background", "red");
                {% endif %}
                {% else %}  {% endif %}
                '
                id="cell_{{ forloop.counter0 }}">
                {% if item ==  0 %}   
                {% elif item == 1 %}  🐱
                {% else %} 🐭 {% endif %}
            </div>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</div>{% endif %}
        {% endfor %}
        </div>
    {% endif %}

    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}