{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content">
    <h1>Play</h1>
    <p>Game: <b>{{ game.id }}</b></p>
    <form id="move_form" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        <p>
            Cats: <b>{{ game.cat_user.username }}</b>
            {% if game.cat_user.id == request.user.id %}
                <blockquote class="cat">
                    {% if not game.cat_turn %}
                        Waiting for the mouse...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
        <p>
            Mouse: <b>{{ game.mouse_user.username }}</b>
            {% if game.mouse_user.id == request.user.id %}
                <blockquote class="mouse">
                    {% if game.cat_turn %}
                        Waiting for the cat...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
    </form>

    {% if board %}
        <script>
            cell_target_list = [];
            cell_origin = -1;
            target_mouse = false;

            function send_move(origin, target, mouse) {
                var data = new FormData();
                data.append('origin', origin);
                data.append('target', target);
                data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // Realizar movimiento en el cliente 
                        alert("Movimiento de ".concat(origin).concat(" a ").concat(target).concat(" exitoso"));
                        $("#cell_".concat(origin)).empty();
                        if (mouse) {
                            $("#cell_".concat(target)).append("🐭");
                        } else {
                            $("#cell_".concat(target)).append("🐱");
                        }
                    }
                };
                xhttp.open("POST", "{% url 'move' %}", true);
                xhttp.send(data);
            }
        </script>
        <!--<p>Board: {{ board }}</p>-->
        <div id="chess_board">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<div class="row">{% endif %}
            <div class="cell {% if forloop.counter0|divisibleby:8 %}{% cycle 'black' 'white' %}{% else %}{% cycle 'white' 'black' %}{% endif %}" 
                onclick='
                {% if game.cat_turn and game.cat_user.id == request.user.id or not game.cat_turn and game.mouse_user.id == request.user.id %}
                {% if item ==  0 %}
                    if (cell_target_list.includes({{ forloop.counter0 }})) {
                        send_move(cell_origin, {{ forloop.counter0 }}, target_mouse);
                    } else if (cell_target_list.length != 0){
                        alert("Movimiento no válido");
                    }
                    for (cell in cell_target_list) {
                        $("#cell_".concat(cell_target_list[cell])).css("background", "");
                    }
                    cell_target_list = []
                {% elif item == 1 and forloop.counter0 < 7 and game.cat_user.id == request.user.id %}
                    for (cell in cell_target_list) {
                        $("#cell_".concat(cell_target_list[cell])).css("background", "");
                    }
                    cell_target_list = [];
                    cell_origin = {{ forloop.counter0 }};
                    target_mouse = false;
                    {% if forloop.counter0|divisibleby:8 %}
                        $("#cell_{{ forloop.counter0|add:9 }}").css("background", "red");
                        cell_target_list.push({{ forloop.counter0|add:9 }});
                    {% elif forloop.counter0|add:1|divisibleby:8 %}
                        $("#cell_{{ forloop.counter0|add:7 }}").css("background", "red");
                        cell_target_list.push({{ forloop.counter0|add:7 }});
                    {% else %}
                        $("#cell_{{ forloop.counter0|add:7 }}, #cell_{{ forloop.counter0|add:9 }}").css("background", "red");
                        cell_target_list.push({{ forloop.counter0|add:7 }});
                        cell_target_list.push({{ forloop.counter0|add:9 }});
                    {% endif %}
                {% elif item == -1 and forloop.counter0 > 0 and game.mouse_user.id == request.user.id %}
                    for (cell in cell_target_list) {
                        $("#cell_".concat(cell_target_list[cell])).css("background", "");
                    }
                    cell_target_list = [];
                    cell_origin = {{ forloop.counter0 }};
                    target_mouse = true;
                    {% if forloop.counter0|divisibleby:8 %}
                        $("#cell_{{ forloop.counter0|add:"-9" }}").css("background", "red");
                        cell_target_list.push({{ forloop.counter0|add:"-9" }});
                    {% elif forloop.counter0|add:1|divisibleby:8 %}
                        $("#cell_{{ forloop.counter0|add:"-7" }}").css("background", "red");
                        cell_target_list.push({{ forloop.counter0|add:"-7" }});
                    {% else %}
                        $("#cell_{{ forloop.counter0|add:"-7" }}, #cell_{{ forloop.counter0|add:"-9" }}").css("background", "red");
                        cell_target_list.push({{ forloop.counter0|add:"-7" }});
                        cell_target_list.push({{ forloop.counter0|add:"-9" }});
                    {% endif %}
                {% endif %}
                {% endif %}
                '
                id="cell_{{ forloop.counter0 }}">
                {% if item ==  0 %}   
                {% elif item == 1 %}  🐱
                {% else %} 🐭 {% endif %}
            </div>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</div>{% endif %}
        {% endfor %}
        </div>
    {% endif %}

    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}