{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="content">
    <h1>Service catalog</h1>
    <ul>
        {% if request.user.is_authenticated %}
        <li class="menu-option" onclick="location.href = '{% url 'select_game' 'current'  %}';">
            <span class="arrow">➤</span>
            <span class="text">Select game and play</span>
        </li>
        <li class="menu-option" onclick="location.href = '{% url 'create_game' %}';">
            <span class="arrow">➤</span>
            <span class="text">Create game</span>
        </li>
        <li class="menu-option" onclick="location.href = '{% url 'select_game' 'open' %}';">
            <span class="arrow">➤</span>
            <span class="text">Join game</span>
        </li>
        <li class="menu-option" onclick="location.href = '{% url 'select_game' 'replay' %}';">
            <span class="arrow">➤</span>
            <span class="text">Watch replay</span>
        </li>
        {% else %}
        <li class="menu-option" onclick="location.href = '{% url 'login' %}';">
            <span class="arrow">➤</span>
            <span class="text">Login</span>
        </li>
        <li class="menu-option" onclick="location.href = '{% url 'signup' %}';">
            <span class="arrow">➤</span>
            <span class="text">Signup</span>
        </li>        
        {% endif %}
        {% comment %} <li class="menu-option" onclick="location.href = '{% url 'counter' %}';">
            <span class="arrow">➤</span>
            <span class="text">Counter</span>
        </li> {% endcomment %}
        {% if request.user.is_authenticated %}
        <li class="menu-option" onclick="location.href = '{% url 'logout' %}';">
            <span class="arrow">➤</span>
            <span class="text">Logout</span>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock content %}