{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content">
    <h1>Replay</h1>
    <p>Game: <b>{{ game.id }}</b></p>
    {% if board %}
        <script>
            board = {{ board }};            
            {% if game.moves.last.player == game.cat_user %}
                winner_message = "The cat player won!";
            {% else %}
                winner_message = "The mouse player won!";
            {% endif %}    
            has_next = {% if has_next %}true{% else %}false{% endif %};
            has_previous = {% if has_previous %}true{% else %}false{% endif %};
            running = false;

            async function run_replay() {
                if (!has_next) return;
                running = true;
                
                $("#replay-run").addClass("hidden");
                $("#replay-stop").removeClass("hidden");

                while (running) {
                    await sleep(2000);
                    if (running) {
                        request_move(1);
                    }
                }

                console.log('Exit')
            }

            function stop_replay() {
                running = false;
                $("#replay-stop").addClass("hidden");
                $("#replay-run").removeClass("hidden");
            }

            function request_manual_move(shift) {
                running = false;
                $("#replay-stop").addClass("hidden");
                $("#replay-run").removeClass("hidden");
                request_move(shift);
            }

            function request_move(shift) {
                if ((shift == 1 && !has_next) || (shift == -1 && !has_previous)) return;

                var data = new FormData();
                data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        let move = JSON.parse(this.responseText);
                        if (move.valid) {
                            has_next = move.next;
                            has_previous = move.previous;
                            apply_move(move.origin, move.target);
                            update_buttons();
                        } else {
                            console.log("No se ha recibido el movimiento.");
                        }
                    }
                };
                if (shift == 1) {
                    xhttp.open("POST", "{% url 'get_move' '+1' %}", true);
                    xhttp.send(data);
                } else if (shift == -1) {
                    xhttp.open("POST", "{% url 'get_move' '-1' %}", true);
                    xhttp.send(data);
                }
            }

            function apply_move(origin, target) {                
                var symbol = $("#cell_" + origin).text();
                $("#cell_" + origin).empty();
                $("#cell_" + target).text(symbol);
            }

            function update_buttons() {
                if (has_next) {
                    $("#replay-next").removeClass("disabled");
                    $("#replay-run").removeClass("disabled");
                    $(".status").empty();
                } else {
                    $("#replay-next").addClass("disabled");
                    $("#replay-run").addClass("disabled");
                    running = false;
                    $("#replay-stop").addClass("hidden");
                    $("#replay-run").removeClass("hidden");
                    $(".status").text(winner_message);
                }

                if (has_previous) $("#replay-previous").removeClass("disabled");
                else $("#replay-previous").addClass("disabled");
            }

            async function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

        </script>

        <a id="replay-next" onclick="request_manual_move(1)" {% if not has_next %}class="disabled"{% endif %}>Next</a>
        <a id="replay-previous" onclick="request_manual_move(-1)" {% if not has_previous %}class="disabled"{% endif %}>Previous</a>
        <a id="replay-run" onclick="run_replay()" {% if not has_next %}class="disabled"{% endif %}>Run</a>
        <a id="replay-stop" onclick="stop_replay()" class="hidden">Stop</a>
        <div id="chess_board">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<div class="row">{% endif %}
            <div class="cell {% if forloop.counter0|divisibleby:8 %}{% cycle 'black' 'white' %}{% else %}{% cycle 'white' 'black' %}{% endif %}" id="cell_{{ forloop.counter0 }}">
                <p>{% if item ==  -1 %}🐭{% elif item == 1 %}🐱{% endif %}</p>
            </div>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</div>{% endif %}
        {% endfor %}
        </div>

        <p class="status">
            {% if not has_next %}
                {% if game.moves.last.player == game.cat_user %}
                    The cat player won!
                {% else %}
                    The mouse player won!
                {% endif %}            
            {% endif %}
        </p>
    {% endif %}

    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}