{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content">
    <h1>Select the game that you want to replay:</h1>
    <p>
        {% if game %}
            <ul>
            {% for game in games %}
                <li> <a href="{% url 'select_replay' game.id %}">{{ game }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            No replays available
        {% endif %}
    </p>
    
    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}
